.Jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

body {
  margin: 0;
  padding: 0;
}

#text {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
}
/* Colorize-zoom Container */
.img-hover-zoom--colorize img {
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  transform: scale(1.1);
}
